<form>
    <h1>DELETANDO UM LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput
            [(ngModel)]="livro.titulo" type="text"
            name="titulo" placeholder="Digite o título do livro"
            maxlength="100" disabled>
        
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input matInput required [(ngModel)]="livro.nome_autor" type="text"
            name="nomeAutor"
            placeholder="Digite o nome do Autor" maxlength="50" disabled>
        
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput required [(ngModel)]="livro.texto" type="text" name="texto"
            placeholder="Digite o texto do livro" maxlength="2000000" disabled></textarea>
            
    </mat-form-field>

    <div class="buttons">
        <button  (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary">DELETAR</button>
        <button (click)="voltar()" class="mat-elevation-z8" mat-stroked-button
            color="warn">CANCELAR</button>
    </div>
</form>